<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjblkj.check.mapper.BascCookBookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bjblkj.check.entities.BascCookBook">
        <id column="cook_Id" property="cookId" />
        <result column="cook_Name" property="cookName" />
        <result column="cook_Flavor" property="cookFlavor" />
        <result column="cook_Technology" property="cookTechnology" />
        <result column="cook_Introduce" property="cookIntroduce" />
        <result column="operator" property="operator" />
        <result column="price" property="price" />
        <result column="number" property="number" />
        <result column="cook_Label" property="cookLabel" />
        <result column="picture" property="picture" />
        <result column="effect" property="effect" />
        <result column="nutritional_Benefits" property="nutritionalBenefits" />
        <result column="intended_Population" property="intendedPopulation" />
        <result column="cook_Classify_Id" property="cookClassifyId" />
        <result column="business_id" property="businessId" />
        <result column="creation_time" property="creationTime" />
        <result column="update_Time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cook_Id, cook_Name, cook_Flavor, cook_Technology, cook_Introduce, operator, price, number, cook_Label, picture, effect, nutritional_Benefits, intended_Population, cook_Classify_Id, business_id, creation_time, update_Time
    </sql>

</mapper>
