<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjblkj.check.mapper.BascCookMakingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bjblkj.check.entities.BascCookMaking">
        <id column="cook_mak_Id" property="cookMakId" />
        <result column="cook_Id" property="cookId" />
        <result column="making" property="making" />
        <result column="step" property="step" />
        <result column="creation_time" property="creationTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cook_mak_Id, cook_Id, making, step, creation_time, update_time
    </sql>

</mapper>
