<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjblkj.check.mapper.BusinessRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bjblkj.check.entities.SysBusinessRecord">
        <id column="record_id" property="recordId" />
        <result column="business_id" property="businessId" />
        <result column="contract_number" property="contractNumber" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="sales_name" property="salesName" />
        <result column="contact_id" property="contactId" />
        <result column="creation_time" property="creationTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        record_id, business_id, contract_number, start_time, end_time, sales_name, contact_id, creation_time, update_time
    </sql>

</mapper>
