<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entities.SysUserRole">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
        <result column="creation_time" property="creationTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, role_id, creation_time, update_time
    </sql>

    <select id="selectUserRoles" resultMap="BaseResultMap">
        SELECT
        *
        FROM user_role
        WHERE
        1 = 1
        <if test="filter.id!=null and filter.id!=''">
            AND id= #{filter.id}
        </if>
        <if test="filter.roleId!=null and filter.roleId!=''">
            AND role_id= #{filter.roleId}
        </if>
        ORDER BY id DESC
    </select>

    <delete id="deleteByRoleId">
        DELETE FROM user_role
        WHERE 1=1
        <if test="roleId!=null">
            AND role_id = #{roleId}
        </if>
    </delete>

    <select id="selectRoleByUserId" resultType="com.example.demo.entities.SysRoleCase">
        SELECT
        r.*
        FROM
        user_role ur
        LEFT JOIN role_case r ON ur.role_id = r.role_id
        WHERE 1=1
        <if test="userId!=null">
            AND user_id = #{userId}
        </if>
    </select>
</mapper>
